


<div class="section1">
    <div class="container">
        
        <div class ="row">
    
            <div class="col-md-12" style="height:30px;"></div>
        
            <div class="col-md-12 text-center" >
                
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x" style="color:#C0392B;"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>            
            
            </div>
            <div class="col-md-12" style="height:30px;"></div>
            <div class="col-md-offset-1 col-md-10">
                
                    <div class="col-md-auto"><h4 class="font-bold" style="color: #C0392B;">Lorem ipsum dolor sit </h4></div>
                    <div class="col-md-auto"><h4 class="font-bold" style="color: #C0392B;">lacus magna imperdiet</h4></div>
                    <div class="col-md-auto"><h4 class="font-bold" style="color: #C0392B;">pretium laoreet eros</h4></div>
                    <div class="col-md-auto"><h4 class="font-bold" style="color: #C0392B;">Sed finibus venenatis</h4></div>
            </div>
            
            
        </div>    
        
    </div>
    <div style="height:50px;"></div>
</div>


<div class="section2">
    <div class="containe-fluid">
    
        <div class="intro-text">
            <div class="intro-heading" style="color: #fff;">Getlink</div>
        	<div class="intro-lead-in" style="color: #fff;">Front end Developer</div>
        	<div class="intro-lead-in" style="color: #fff;">Test Boostrap Resonsive</div>
        </div>
    </div>
</div>



<div style="height:50px;"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("superman.jpg", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Superman</h4>
                <p class="text-muted">Superman is the most powerful being on planet Earth, an alien immigrant named Kal-El from the planet Krypton who was raised in Smallville, Kansas, to become an American superhero</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("batman", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Batman</h4>
                <p class="text-muted">Batman is the super-hero protector of Gotham City, a man dressed like a bat who fights against evil and strikes terror into the hearts of criminals everywher</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("wonderwoman.jpg", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Wonder Woman</h4>
                <p class="text-muted">Wonder Woman is the Amazonian princess Diana; the daughter of the Amazonian Queen Hippolyta and the Olympian god Zeus. She is also a founding member of the Justice League</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("green-lantern", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Green Lantern</h4>
                <p class="text-muted">Hal Jordan is the most well-known Green Lantern. He was the first human ever inducted into the Green Lantern Corps, and has been heralded as possibly the greatest Green Lantern of all time</p>
            </div>
        </div>

        <div class="col-md-12" style="height:150px;"></div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("flash.jpg", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">The Flash</h4>
                <p class="text-muted">The Flash is the fastest man alive. He is the protector of Central City and Keystone City, fighting against evil using his super-speed and a dedicated sense of heroism</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("greenarrow.png", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Green Arrow</h4>
                <p class="text-muted">Green Arrow is a vigilante superhero who fights crime using archery, martial arts and technology. In his secret identity he is Oliver Queen</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("shazam", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Captain Marvel</h4>
                <p class="text-muted">Captain Marvel is the World's Mightiest Mortal. Originally, he was a orphaned boy named Billy Batson, who was chosen by the wizard Shazam to be a champion of good</p>
            </div>
        </div>
        
        <div class="col-md-3 portfolio-item">
            <a class="portfolio-link" data-toggle="modal">
                <div class="portfolio-hover">

                </div>
                <%= image_tag("aquaman.jpg", :alt => "rss feed",:class => "img-responsive") %>                        
            </a>
            <div class="portfolio-caption wrap-text">
                <h4 class="font-bold" style="color: #C0392B;">Aquaman</h4>
                <p class="text-muted">Arthur Curry is Aquaman, an adventurer who is half-Human and half-Atlantean. This gives him a variety of powers including superhuman strength</p>
            </div>
        </div>        
        
    </div>
</div>

<div style="height:100px;"></div>

<footer>
    <div class="container-fluid" style="background:#000;height:100%;color:#fff;">
        <div class="row">
            <div class="container col-centered">
                <div class="col-md-12" style="height:30px;"></div>                
                <div class="col-md-3">
                    <div class="wrap-text">
                        <h4 class="font-bold" style="color: #C0392B;">Footer 1</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mauris neque. Aenean urna neque, consectetur vel magna nec, lobortis ultrices dui.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrap-text">
                        <h4 class="font-bold" style="color: #C0392B;">Footer 2</h4>
                        <p class="text-muted">Proin tellus libero, porttitor sed malesuada a, pulvinar non augue. Proin dignissim est at lobortis lobortis. Suspendisse posuere lobortis nisl quis mattis</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrap-text">
                        <h4 class="font-bold" style="color: #C0392B;">Footer 3</h4>
                        <p class="text-muted">Nulla at mauris tincidunt, facilisis leo eget, hendrerit leo. Nulla risus elit, condimentum eleifend elit in, aliquet molestie turpis. Ut non varius libero</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrap-text">
                        <h4 class="font-bold" style="color: #C0392B;">Contact</h4>
                        
                        <ul class="list-inline social-buttons">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="#" target="_blank"><i class="fa"><b>G</b></i></a>
                            </li>                            
                        </ul>                        
                    </div>
                </div>
                <div class="col-md-12" style="height:30px;"></div>
            </div>
        </div>
    </div>
</footer>